ErrorDocument 404 /errors/404.html
Redirect Permanent /reports http://archiva.apache.org/ref/2.2.4
Redirect /download.html /download.cgi
# We do not use index.cgi anymore
# Redirect /index.html /index.cgi
Redirect Permanent /docs/current http://archiva.apache.org/docs/2.2.4
#former docs use LICENCE.txt
Redirect Permanent /LICENSE.txt http://archiva.apache.org/license.html
