Redirect Permanent /reports http://archiva.apache.org/ref/1.3.5
Redirect /download.html /download.cgi
Redirect Permanent /docs/current http://archiva.apache.org/docs/1.3.5
#former docs use LICENCE.txt
Redirect Permanent /LICENSE.txt http://archiva.apache.org/license.html